.container-pagenotfound {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 250px;
    }

    a{
        color: $primary-color;
        margin-top: 200px;
    }
}